<div class="nc-empty-state">
    <div class="nc-empty-state-icon">
        <i class="fa {{ icon|default('fa-user') }}" aria-hidden="true"></i>
    </div>
    <div class="nc-empty-state-title">{{ title|xlt }}</div>
    <p class="nc-mb-0 nc-text-sm">{{ message|xlt }}</p>
    {% if cta is defined %}
        <div class="nc-mt-3">{{ cta|raw }}</div>
    {% endif %}
</div>
