{% extends 'base.html.twig' %}

{% block page_heading %}{% endblock %}

{% block page_heading_actions %}
<div class="nc-flex nc-flex-wrap nc-items-center nc-gap-2">
    <a class="nc-btn nc-btn-sm nc-btn-outline nc-btn-outline-secondary" href="{{ return_url|attr }}">
        {{ 'Back to Pharmacy Desk'|xlt }}
    </a>
</div>
{% endblock %}

{% block content %}
<div
    id="nc-rx-edit"
    data-island="rx-edit"
    data-props="{{ {
        ajaxUrl: ajax_url,
        csrfToken: csrf_token,
        visitId: visit_id,
        prescriptionId: prescription_id|default(0),
        returnUrl: return_url
    }|json_encode|e('html_attr') }}"
></div>
{% endblock %}

{% block scripts %}
{% include 'partials/island-assets.html.twig' %}
{% endblock %}
