{% extends 'base.html.twig' %}

{% block page_subtitle %}
<div class="nc-page-heading-subtitle" id="nc-cashier-date"></div>
{% endblock %}

{% block page_heading_actions %}
<button type="button" class="nc-btn nc-btn-sm nc-btn-outline nc-btn-outline-primary" id="nc-cashier-refresh" aria-label="{{ 'Refresh'|xlt }}">
    <i class="fa fa-refresh" aria-hidden="true"></i>
</button>
<span class="nc-text-muted nc-text-sm" id="nc-cashier-updated"></span>
{% endblock %}

{% block content %}
{% if enable_react_cashier_desk|default(true) %}
<div
    data-island="cashier-desk"
    data-props="{{ {
        ajaxUrl:             ajax_url,
        csrfToken:           csrf_token,
        facilityId:          desk_facility_id|default(0)|number_format(0, '', ''),
        visitBoardUrl:       visit_board_url,
        canMarkUnpaid:       can_mark_unpaid ? true : false,
        canSkipCompletion:   can_skip_completion ? true : false,
        canApplyDiscount:    can_apply_discount ? true : false,
        canEsignOverride:    can_esign_override ? true : false,
        enablePartialPayment: enable_partial_payment ? true : false,
        canPartialPay:       can_partial_pay ? true : false,
        enableInsuranceScheme: enable_insurance_scheme ? true : false,
        sharedDeviceWarning: enable_shared_device_session_warning ? true : false,
        currencyFormat:      currency_format|default({}),
        pollMs:              queue_poll_ms|default(30000)
    }|json_encode|e('html_attr') }}"
></div>
{% else %}
{% include 'partials/react-island-disabled.html.twig' with { desk_label: 'Cashier Desk' } %}
{% endif %}
{% endblock %}

{% block scripts %}
{% if enable_react_cashier_desk|default(true) %}
{% include 'partials/island-assets.html.twig' %}
{% endif %}
{% endblock %}
