{% extends 'base.html.twig' %}

{% block page_subtitle %}
<div class="nc-page-heading-subtitle">{{ 'Your account, access, and password'|xlt }}</div>
{% endblock %}

{% block content %}
<div
    data-island="my-profile"
    data-props="{{ {
        ajaxUrl: ajax_url,
        csrfToken: csrf_token,
        webroot: webroot
    }|json_encode|e('html_attr') }}"
></div>
{% endblock %}

{% block scripts %}
{% include 'partials/island-assets.html.twig' %}
{% endblock %}
