{% extends 'base.html.twig' %}

{% block content %}
{% if enable_react_patient_chart|default(true) %}
<div
    data-island="patient-chart"
    data-props="{{ {
        ajaxUrl: ajax_url,
        csrfToken: csrf_token,
        pid: pid,
        activeTab: active_tab,
        clinicalAnchor: clinical_anchor|default(''),
        visitIdFilter: visit_id_filter|default(0),
        visitBoardUrl: visit_board_url,
        frontDeskUrl: module_url ~ '/front-desk.php',
        exportChartUrl: export_chart_url|default(''),
        registrationMode: registration_mode,
        enableInChartPatientSearch: enable_in_chart_patient_search|default(false),
        enableDocuments: enable_documents|default(false),
        enableLabels: enable_labels|default(false),
        labelPrintUrl: label_print_url|default(''),
        lettersHubUrl: letters_hub_url|default(''),
        canFlagFollowUp: can_flag_follow_up|default(false),
        enableVitalsTrends: enable_vitals_trends|default(false)
    }|json_encode|e('html_attr') }}"
></div>
{% else %}
{% include 'partials/react-island-disabled.html.twig' with { desk_label: 'Patient Chart' } %}
{% endif %}
{% endblock %}

{% block scripts %}
{% if enable_react_patient_chart|default(true) %}
{% include 'partials/island-assets.html.twig' %}
{% endif %}
{% endblock %}
