{% extends 'base.html.twig' %}

{% block content %}
{% if enable_react_chart_depth|default(true) %}
<div
    data-island="chart-depth"
    data-props="{{ {
        mode: 'payments',
        ajaxUrl: ajax_url,
        csrfToken: csrf_token,
        pid: pid,
        visitId: visit_id|default(0)|number_format(0, '', ''),
        chartUrl: chart_url,
        visitBoardUrl: visit_board_url,
        currencyFormat: currency_format|default({})
    }|json_encode|e('html_attr') }}"
></div>
{% else %}
{% include 'partials/react-island-disabled.html.twig' with { desk_label: 'Chart Depth' } %}
{% endif %}
{% endblock %}

{% block scripts %}
{% if enable_react_chart_depth|default(true) %}
{% include 'partials/island-assets.html.twig' %}
{% endif %}
{% endblock %}
